[Desktop Entry]
Icon=google-chrome
Name=Start
Type=Application
Exec=/usr/bin/google-chrome-stable https://second-assessment.net.gov.ua
StartupNotify=false
Terminal=false
Hidden=false